STUDIOMATE_BASE_URL=https://api.studiomate.kr
STUDIOMATE_LOGIN_ID=
STUDIOMATE_LOGIN_PASSWORD=
STUDIOMATE_STUDIO_ID=5330
MANAGER_BASE_URL=https://api.manager.studiomate.kr
MANAGER_LOGIN_ID=
MANAGER_LOGIN_PASSWORD=
MANAGER_STUDIO_ID=5330
MANAGER_STAFF_ID=1979746
DEFAULT_TIMEZONE=Asia/Seoul
SYNC_POLL_INTERVAL_MINUTES=5
ATTENDANCE_REMINDER_DELAY_MINUTES=60
WRITE_QUEUE_INTERVAL_MINUTES=1
PRIVATE_SURVEY_ALIMTALK_TEMPLATE_ID=
STAFF_PRIVATE_CHART_ALIMTALK_TEMPLATE_ID=
